/*  ==========================================================================
    global styles
    ========================================================================== */
    body {
        font-size: 1em; font-family: 'Open Sans', Arial, Helvetica, sans-serif; color:#545454; line-height: 1.5;
        background:#efefef; margin:0;
    }
    @font-face {
        font-family: 'iconies_socialregular';
        src: url('iconiessocial-webfont.eot');
        src: url('iconiessocial-webfont.eot?#iefix') format('embedded-opentype'),
             url('iconiessocial-webfont.woff') format('woff'),
             url('iconiessocial-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    ::-moz-selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    ::selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    p {
        margin: 0.75em 0;
    }
    textarea {
        resize: vertical;
    }
    img {
        border:0; max-width:100%;
    }
    a {
        text-decoration: none; color:#266cb3;
        -webkit-transition:color 0.5s; transition:color 0.5s;
    }
        

/*  ==========================================================================
    Helper classes
    ========================================================================== */
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; float:left;
    }
    .clearfix:before,
    .clearfix:after {
        content: ' ';
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .chromeframe {
        margin: 0.2em 0;
        background: #ccc;
        color: #000;
        padding: 0.2em 0;
    }

/*  ==========================================================================
    c6-view classes : used for layout
    ========================================================================== */
    .c6-view__container {
        margin:0 auto; padding:0 1.125em; max-width:70.5em; /* 1128px */
    }
    .c6-view__blackout {
        background:black; background: rgba(0, 0, 0, 0.88);
        position: fixed; height: 100%; width: 100%; top: 0; left: 0;
        text-align: center;
        z-index: 6000; 
    }
    .c6-view--fill-100 {
        position:absolute; width:100%; height:100%; overflow: hidden;
    }
    .c6-view--pos-50 {
        position:absolute; top:50%; left:50%;
    }
    .c6-view--hide {
        display:none;
    }


/*  ==========================================================================
    c6-copy classes : general type styles
    ========================================================================== */
    .tk--main {
        font-family:'Open Sans', Arial, Helvetica, sans-serif; font-weight:400;
    }
    .tk--hdr {
        font-family: 'museo-sans', 'Open Sans', Arial, Helvetica, sans-serif;   
    }
    .tk--social {
        font-family:'iconies_socialregular', sans-serif;
    }
    .c6-copy__article {
        padding-top:1.875em;
    }
    .c6-copy__h1 {
        font-weight:300; color:#bebebe; text-transform:uppercase; font-size:3.75em; /*60px*/ line-height: 1;
        margin:0.467em 0 0.483em 0; /*28px 0 29px*/
    }
        .c6-copy__h1 strong {
            font-weight:900;
        }
    .c6-copy__h2 {
        font-weight:300; color:#545454; font-size:2.25em; /*36px*/ line-height: 1.167;
        margin:0.75em 0 0.4167em 0; /*27px 0 15px 0*/
    }
        .c6-copy__h2 strong {
            font-weight:700;
        }
    .c6-copy__h3, .c6-copy__section-hdr {
        margin: 0.625em 0 0;
        font-size:1.125em; /*18px*/ color:#bebebe; font-weight:900; text-transform:uppercase; 
    }
    .c6-copy__section-hdr {
        margin:0;
    } 
    .c6-copy__box {
        padding-bottom:1.3125em; /*21px*/
    }
        .c6-copy__box--break {
            border-bottom:3px solid #bebebe;
        }
    .c6-copy__list {
        margin:1.125em 0 1.125em 3.375em; padding:0; list-style:disc; 
    }
        .c6-copy__list--numbers {
            list-style:decimal;
        }
        .c6-copy__list--alpha {
            list-style:lower-alpha;
        }
        .c6-copy__list-item {
            margin:0.75em 0;
        }
    .c6-copy__address {
        margin:0.9375em 0 0.9375em 3.375em; line-height: 1.125;
    }
    @media only screen and (max-width: 620px) {
        .c6-copy__h1 {
            font-size:2.25em; /*36px*/ margin-top:0.75em;
        }
        .c6-copy__h2 {
            font-size:1.3125em; /*21px*/ line-height:1.143;
        }
    }
    @media only screen and (min-width:621px) and (max-width: 860px) {
        .c6-copy__h1 {
            font-size:3em; /*48px*/ margin-top:0.5625em;
        }
        .c6-copy__h2 {
            font-size:1.75em; /*28px*/ line-height:1.071;
        }
    }

/*  ==========================================================================
    c6 theme classes : modules that appear in many places across the site
    ========================================================================== */
    .c6-user__pic {
        width:100%; height:100%; display: block; -webkit-border-radius: 3px; border-radius: 3px;
    }
    .c6-pagehead__group {
        height: 5.625em; padding-top:1.875em; background:#83bfe5 url('../img/c6-about__hero.png') 50% 50% no-repeat; text-align: center; 
    }
        .c6-pagehead__title, .c6-pagehead__subtitle {
            margin:0; color:#fff; font-weight:300; line-height: 1;
        }
            .c6-pagehead__title {
                font-size: 2.25em; /* 36px */
            }
            .c6-pagehead__subtitle {
                font-size: 1em; /* 16px */ font-style: italic; margin-top: 0.3125em;
            }


/*  ==========================================================================
    panel classes : opens and closes in between experiences
    ========================================================================== */
    .panel__group {
        z-index: 5000; position:absolute; width:100%; height:100%;
    }
        .panel__top, .panel__bottom {
            background:#232527; width:100%; height:100%; position:fixed; display:none; z-index: 1;
        }
        .panel__top {
            bottom:100%; border-bottom:1px solid #181a1b;
        }
        .panel__bottom {
            top:100%; border-top:1px solid #2a2c2e;
        }

/*  ==========================================================================
    c6-masthead styles
    ========================================================================== */
    .c6-masthead__group {
        background:#fff; line-height: 1;
    }
    .c6-nav-brand {
        margin:0.75em 1.875em 0.75em 0; width:14em; height:3.375em; float:left;
    }
        .c6-nav-brand__link {
            width:14em; height:3.375em; display:block;
        }
    .c6-main-nav__group {
        margin:0; padding:0; list-style: none;
    }
        .c6-main-nav__prime {
            float:left; margin:2.1875em 0 0 0;
        }
            .c6-nav-prime__links {
                list-style:none; margin:0; padding:0;
            }
            .c6-nav-prime__item {
                display:inline-block; margin:0 1.5em 0 0;
            }
                .c6-nav-prime__item:last-child {
                    margin-right:0;
                }
                .c6-nav-prime__link {
                    color:#b1b2b5; font-weight:700; font-size:0.9375em;
                    cursor:pointer;
                }
    .c6-mobile-nav__group {
        display:none;
        margin:0; padding:0; list-style: none;
    }
        .c6-nav-brand--mobile {
            margin-right:0;
        }
        .c6-mobile-nav__dropdown {
            margin:1.1875em 0 .9375em; float:right;
        }
            .c6-mobile-nav__dropdown-btn {
                display:block; border:0; font-size:1em;
                width:2.75em; height:2.75em;
                cursor: pointer;
                background: #b1b2b5 url(../img/c6-sprite--alpha.png) -140px 0 no-repeat; background-size:265px 265px;
                -webkit-transition: all 0.5s; transition: all 0.5s;
            }
                .c6-mobile-nav__dropdown-btn:focus {
                    outline:none;
                }
            .c6-mobile-nav__dropdown--active {
                -ms-transform:rotate(180deg); /* IE 9 */
                -webkit-transform:rotate(180deg); /* Safari and Chrome */
                transform:rotate(180deg);
                background-color:#00b9ff;
            }
    .c6-main-nav__search {
        float:right;
        width:14em;
    }
        .c6-nav-search__group {
            background:#eaeaea; padding:0.2em 0.6em; margin:1.6875em 0 1em 0;
            -webkit-border-radius: 50px; border-radius: 50px; border:2px solid #e0e0e0;
        }
        .c6-nav-search__text-box {
            color:#afb1b3; font-size:0.875em; font-family:'Open Sans', Arial, Helvetica, sans-serif;
            background:none; border:none;
            padding:0.2em; margin:0; float:left; width:12.5em;
        }
            .c6-nav-search__text-box:focus {
                border:none; color:#545454;
            }
        .c6-nav-search__btn {
            background: url(../img/c6-sprite--alpha.png) 5px 5px no-repeat; background-size:265px 265px;
            display: block; width:1.5em; height:1.5em; float:right;
            opacity: 0.2; border:0; cursor:pointer;
            -webkit-transition:opacity 0.5s; transition:opacity 0.5s;
        }

    @media only screen and (min-width:481px) and (max-width: 768px) {
        .c6-nav-brand {
            float:none; margin-left: auto; margin-right:auto;
        }
        .c6-main-nav__prime {
            float:none; margin:0; text-align: center;
        }
        .c6-nav-prime__item:last-child {
            margin:0;
        }
        .c6-main-nav__search {
            float:none; margin:0 auto;
        }
            .c6-nav-search__group {
                margin:1em 0 1em 0;
            }
    }
    @media only screen and (max-width: 480px), screen and (max-height:480px) {
        .c6-mobile-nav__group {
            display:block;
        }
        .c6-main-nav__group {
            display:none;
        }
    }

                
/*  ==========================================================================
    c6-exp__group styles
    ========================================================================== */
    .c6-exp__group {
        width:100%; height:40.125em; /*642px*/ color:#fff; margin:0 0 3.25em; 
    }
        .c6-exp__group--fullscreen {
            width:100%; height:100%; position:absolute; top:0; left:0; overflow:hidden;
        }
        @media only screen and (min-width:2001px) {
            .c6-exp__group, .exp-hero__vertical-spacer, .exp-hero__group {
                height:59.25em; /*948px*/
            }
        }
        @media only screen and (min-width:1701px) and (max-width:2000px) {
            .c6-exp__group, .exp-hero__vertical-spacer, .exp-hero__group {
                height:51em; /*816px*/
            }
        }
        @media only screen and (min-width:1401px) and (max-width:1700px) {
            .c6-exp__group, .exp-hero__vertical-spacer, .exp-hero__group {
                height:47.25em; /*756px*/
            }
        }
        @media only screen and (min-width:1250px) and (max-width:1400px) {
            .c6-exp__group, .exp-hero__vertical-spacer, .exp-hero__group {
                height:43.5em; /*696px*/
            }
        }
        /* 1051 - 1249 = uses default height of 642px */
        @media only screen and (min-width:901px) and (max-width:1050px) {
            .c6-exp__group, .exp-hero__vertical-spacer, .exp-hero__group {
                height:36.375em; /*582px*/
            }
        }
        @media only screen and (min-width:700px) and (max-width:900px) {
            .c6-exp__group, .exp-hero__vertical-spacer, .exp-hero__group {
                height:31.125em; /*498px*/
            }
        }
        @media only screen and (max-width:699px) {
            .c6-exp__group, .exp-hero__vertical-spacer, .exp-hero__group {
                height:28em; /*448px*/
            }
        }
        @media only screen and (max-device-width : 568px) and (orientation: landscape) {
            .c6-exp__group, .exp-hero__vertical-spacer, .exp-hero__group {
                height:18em; /*288px*/
            }
        }
        @media only screen and (min-width : 10px) {
            .c6-exp__group--fullscreen {
                height:100%;
            }
        }

    .c6-exp {
        width:100%; height:100%;
    }
        .c6-exp__frame {
            width: 100%; height: 100%; border: none;
            overflow: hidden; background: transparent;
        }
            .c6-exp__frame--fullscreen {
                position: fixed; top: 0; left: 0;
            }

/*  ==========================================================================
    landing page content styles
    ========================================================================== */
    .c6-landing__hdr {
        font-size:1.125em; color:#bebebe; font-weight:900; text-transform: uppercase;
        margin:2.94em 0 0.611em 0;
    }
    .c6-landing__copy {
        margin:-0.0625em 0 0 0;
    }
    .c6-landing__context {
        color:#747474; font-size:0.875em; line-height: 1.715; margin:0.857em 0 0 0;
    }

/*  ==========================================================================
    experience styles
    ========================================================================== */
    /*c6-experience2 {
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
    }
        .experience-frame {
            width: 100%; height: 100%;
            border: none;
            overflow: hidden;
            background: transparent;
        }
            .experience-frame--active {
                position: fixed; top: 0; left: 0; z-index: 100;
            }
        .experience-preload {
            position: absolute; top: 0; left: 0;
            width: 100%; height: 100%;
            background-position: 50% 50%; background-size: cover; background-repeat: no-repeat;
        }
    */

/*  ==========================================================================
    video info styles
    ========================================================================== */
    .video-info__group {
        margin-bottom:1.5em;
    }
    .vid-rating__score {
            margin:0; float:left;
            line-height: 1; color:#a4a4a4; font-size:3em; /* 48px */ font-weight:700;
        }
        .vid-rating__yours {
            margin-left:5.5em;
        }
            .vid-rating__sub {
                margin:0.333em 0 0.5em 0; line-height: 1; color: #6b6b6b; font-weight:normal; font-size:0.75em; /* 12px */ 
            }
            .vid-rating {
                width:5.25em; height:1.0625em; display: block;
            }
                .vid-rating--3star {
                    background:url('../img/star-rating--3.png') 0 0 no-repeat; background-size:100% auto;
                }
    .social__group {
        margin:1em 0 1.125em 0;
    }
        .social__action {
            background:#a4a4a4; display: block; float:left; padding:0.643em 1em 0.5em; margin:0 0.429em 0.429em 0; border-radius:0.214em;
            font-size:0.875em; /* 14px */ line-height: 1; color:#fff;
            -webkit-transition: background-color 0.5s; transition: background-color 0.5s;
        }
    .vid-details {
        margin:0;
    }
        .vid-details p {
            margin:0.846em 0; font-size:0.8125em; color:#6b6b6b; line-height: 1;
        }
        .vid-details .tags-list {
            line-height: 1.5;
        }

    @media only screen and (max-width: 768px) {
        .video-info__group {
            text-align:center;
        }
        .video-rating__group {
            margin-left:auto; margin-right:auto; width:11.5em; text-align: left;
        }
        .social__action {
            display:inline; float:none; line-height:3;
        }
    }


/*  ==========================================================================
    cast and credits styles
    ========================================================================== */
    .cast-credits__group {
        margin-bottom:1.5em;
    }
    .cast__group {
        color: #545454;
    }
        .cast__list {
            margin-top:0.875em;
        }
        .cast__member {
            margin-bottom:0.75em;
        }
        .cast__headshot {
            float:left; display: block; margin:0 0.625em 0 0;
        }
        .cast__name {
            margin:0.1875em 0 0 0;
            font-size:1em; /* 16px */ line-height: 1;
        }
        .cast__role {
            margin:0.385em 0 0 0; display: block;
            font-size:0.8125em; /* 13px */ line-height: 1; font-weight:normal;
        }
    .credits__group {
        margin:1em 0 0 0; 
    }
        .credits__hdr {
            margin-bottom:0.542em;
        }

/*  ==========================================================================
    series info styles
    ========================================================================== */
    .series-info__group {
        margin-bottom:1.5em;
    }
        .series-info__copy {
            margin-top:1.063em; font-size:0.875em; /* 14px */ line-height:1.714; 
        }
        .series-info__copy p {
            margin:0.857em 0;
        }

/*  ==========================================================================
    annotation styles
    ========================================================================== */
    .annotation__img--bubble {
        display: inline-block; float: left;
        width: 4.7375em; height: 4.805em; margin-top: 0.15em;
        background: url(../img/experiences/screenjack/annotation__bubble--icon.png) no-repeat left center; background-size: 47px 37px;
    }

    .annotation__img--speech {
        display: inline-block; float: left;
        width: 4.7375em; height: 4.805em; margin-top: 0.15em;
        background: url(../img/experiences/screenjack/annotation__speech--icon.png) no-repeat left center; background-size: 47px 37px;
    }

/*  ==========================================================================
    c6-bar styles
    ========================================================================== */
    .c6-bar__container {
        position: absolute; top: 0px;
        width: 100%; height: 2.25em;

        -ms-transition: top 0.5s; -moz-transition: top 0.5s; -o-transition: top 0.5s; -webkit-transition: top 0.5s; transition: top 0.5s;
    }
        .c6-bar__container--offscreen {
            top: -2.25em;
        }
    .c6-bar__group {
        background:#232527; height:2.25em; width:100%; position:absolute; z-index:1000; top:0; line-height: 1;
    }
        .c6-bar__inner {
            margin:0; padding:0; list-style: none;
        }
        .c6-bar-logo__group {
            border-right:1px solid #2a2c2e; float:left;
        }
            .c6-bar-logo__link {
                display:block; padding:0.125em 0.9375em; border-right:1px solid #181a1b;
            }
                .c6-bar-logo__img {
                    display: block; width:2em; height:2em;
                }
        .c6-bar__app-space {
            float:left;
        }
            .c6-bar__app-title {
                width:6.75em; height:0.75em; display: block; margin:0.8125em 0 0 0.75em; opacity:0.4;
                background: 0 0 no-repeat; background-size: contain;
            }
        .c6-bar-settings__group {
            border-left:1px solid #181a1b; float:right;
        }
            .c6-bar-settings {
                display:block; padding:0.5em 0.9375em; border-left:1px solid #2a2c2e;
            }
                .c6-bar-settings__gear-icon {
                    display: block; width:1.25em; height:1.25em; background:url('../img/c6-sprite--alpha.png') -94px 0 no-repeat; background-size:15.625em 15.625em; float:left; opacity:0.2;
                }
                .c6-bar-settings__dropdown-icon {
                    display: block; width:0.625em; height:0.625em; background:url('../img/c6-sprite--alpha.png') -5.88em -1.4625em no-repeat; background-size:15.625em 15.625em; margin:0.3125em 0 0 0.3125em; float:left; opacity:0.2;
                }
                    .c6-bar-settings__dropdown-icon--open {
                        transform:rotate(180deg); -ms-transform:rotate(180deg); /* IE 9 */ -webkit-transform:rotate(180deg); /* Safari and Chrome */
                    }
        .c6-bar-dropdown__group {
            margin:0; border-bottom:1px solid black; padding:0; top:2.571em; right:0; z-index:5000; font-size:0.875em; /* 14px */
            list-style:none; position: absolute;
        }
            .c6-bar-dropdown__item {
                margin:0; padding:0; border-top: 1px solid black;
            }
            .c6-bar-dropdown__btn {
                border:0; background:#232527; color:#ccc; text-decoration: none; padding:0.714em 1em; cursor:pointer; width:7.143em; display: block;
            }


/*  ==========================================================================
    author-branding styles
    ========================================================================== */
    .author-branding__group {
        margin-top:1.5em;
    }
        .author-branding__billboard {
            height:13.5em; background-size:cover; background-repeat:no-repeat; background-position:50% 50%;
        }
            .author-branding__portrait {
                margin:7em 0 0 1.5em; display: block;
            }
        .author-branding__info {
            background:#fff; padding:0 1.5em 1.1875em;
        }
            .author-branding__username {
                color:#545454; font-weight:900; line-height: 1; font-size:1.875em; /*30px*/ margin:0.767em 0 0 0;
            }
                .author-branding__vid-count {
                    color:#bebebe; font-size:0.6em; /*18px*/ font-weight:bold;
                }
            .author-branding__links {
                margin:1.6875em 0 0.5em; padding:0; list-style: none; text-align: right;
            }
                .author-branding__link-item {
                    display:inline;
                }
        @media only screen and (max-width: 768px) {
            .author-branding__username {
                text-align: center;
            }
            .author-branding__links {
                text-align: center;
            }
        }

/*  ==========================================================================
    series styles
    ========================================================================== */
    .c6-series__group {
        width: 100%;
    }
        .c6-series__billboard {
            height: 9.75em; background-size:cover; background-repeat:no-repeat; background-position:50% 50%;
        }


/*  ==========================================================================
    footer styles
    ========================================================================== */
    .c6-footer__group {
        margin-top:5.625em; padding-top:1.5em; background:#dddddd;
    }
        .c6-footer-nav__group {
            border-right:1px solid #cccccc;
            min-height:10em; padding-bottom:1.083em; margin-bottom:2.083em;
            font-size:0.75em; color:#888;
        }
        @media only screen and (max-width: 768px) {
            .c6-footer-nav__group {
                border-right:0; min-height:1em; padding-bottom:0;
                text-align: center;
            }
        }
        .c6-footer-nav__hdr {
            color:#464646; font-weight:900; font-size:1.167em; line-height: 1.286;
            margin:0.786em 0 0.857em 0; padding: 0;
        }
        .c6-footer-nav__links {
            margin:0; padding: 0; list-style: none;
        }
            .c6-footer-nav__item {
                margin:0.5em 0 0 0;
            }
            .c6-footer-nav__link {
                color:#888888;
            }
            @media only screen and (max-width:480px) {
                .c6-footer-nav__item--community {
                    display:inline; margin-right:0.5em; margin-left:0.5em;
                }
            }
        .c6-footer-brand__group {
            margin-left:16.666%; text-align: center;
        }
            .c6-footer-brand {
                margin:0.5em 0 1em 0; text-align: center; font-size:1em;
            }
                .c6-footer-brand__link {
                    display: block;
                }
                .c6-footer-brand__logo {
                    font-size:1em; width:7.8125em; height:5.625em; display: block;
                    margin:0 auto; 
                }
                .c6-footer-brand__tagline {
                    display: block; margin-top:0.5em;
                    color:#888888; font-size:0.875em; font-weight:300;
                }
            @media only screen and (max-width: 768px) {
                .c6-footer-brand__group {
                    margin:0;
                }
            }
            .c6-fineprint__group {
                background:#464646; padding:1.916em 0 1.67em 0;
                font-size:0.75em; color:#888888; text-align: center;
            }
                .c6-fineprint__link {
                    color:#a7a7a7;
                }


/*  ==========================================================================
    share modal styles
    ========================================================================== */
    .c6-share__group /* div */ {
        margin: 0 0 -3.9125em -12.375em; width: 24.75em; height: 7.825em;
        background: #232527; border-radius: 0.25em; box-shadow: 0 0.125em 0.5em #000;
        letter-spacing: 0.05em;
    }
        .c6-share__close-btn /* button */ {
            position: absolute; top: -0.25em; right: -0.25em;
            width: 2.75em; height: 2.75em; border: 0; cursor: pointer;
            background: url(../img/share__close--btn.png) center center;
        }
        .c6-share__hdr /* h2 */ {
            text-transform: uppercase; font-size: 1.375em; font-weight: 500;
            color: #d7d7d7; margin: 0.6875em 0;
        }
        .c6-share__links {
            height:2.75em; line-height: 2.75em;
        }
            .c6-share__facebook-btn /* button */ {
                display: inline-block;
                width: 2.75em; height: 2.75em;
                background: url(../img/share__facebook--btn.png) center center; background-color: #3b5999;
                border-radius: 0.125em; box-shadow: 0 1px 0 #191717; margin: 0 0.35em; cursor: pointer;
            }
            .c6-share__twitter-btn /* button */ {
                display: inline-block;
                width: 2.75em; height: 2.75em; line-height: 2.75em;
                background: url(../img/share__twitter--btn.png) center center; background-color: #00acee; 
                border-radius: 0.125em; box-shadow: 0 1px 0 #191717; margin: 0 0.35em; cursor: pointer;
            }
            .c6-share-url__group {
                display: inline-block; margin: 0 0 0 0.85em;
                height: 100%; font-size: 0.8em; vertical-align: top;
            }
                .c6-share-url__label {
                    text-transform: uppercase; color: #a5a5a5; margin: 0 0.3em 0 0;
                }
                .c6-share-url__box {
                    display:inline-block;
                    height: 100%; padding: 0 2.5em 0 1.25em;
                    color: #686767; background-color: #1a1a1c;
                    box-shadow: 0 1px 0 #29292b; border:0;
                }
                .c6-share-url__btn {display:none;}
