/*  ==========================================================================
    global styles
    ========================================================================== */
    body {
        font-size: 1em; font-family: 'Open Sans', Arial, Helvetica, sans-serif; color:#545454; line-height: 1.5;
        background:#efefef; margin:0;
    }
    ::-moz-selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    ::selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    p {
        margin: 0.75em 0;
    }
    textarea {
        resize: vertical;
    }
    img {
        border:0; max-width:100%;
    }
    a {
        text-decoration: none; color:#266cb3;
        -webkit-transition:color 0.5s; transition:color 0.5s;
    }

/*  ==========================================================================
    c6-view classes : used for layout
    ========================================================================== */
    .c6-view__container {
        margin:0 auto; padding:0 1.125em; max-width:70.5em; /* 1128px */
    }
    .c6-view__blackout {
        background:black; background: rgba(0, 0, 0, 0.88);
        position: fixed; height: 100%; width: 100%; top: 0; left: 0;
        text-align: center;
        z-index: 6000; 
    }
    .c6-view--fill-100 {
        position:absolute; width:100%; height:100%; overflow: hidden;
    }
    .c6-view--pos-50 {
        position:absolute; top:50%; left:50%;
    }
    .c6-view--hide {
        display:none;
    }
    .c6-view--fullscreen {
        position: fixed; top: 0; right: 0; bottom: 0; left: 0;
        width: 100%; height: 100%;
        z-index: 999999999999999;
    }

/*  ==========================================================================
    c6-exp classes : used for iframe
    ========================================================================== */
    .c6-exp {
        position: absolute; top: 0; right: 0; bottom: 0; left: 0;
        width: 100%; height: 100%;
        border: none;
    }
