<section>
    <h2>Lorem ipsum </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo odio eu eros malesuada, vel consequat leo interdum. Vestibulum fringilla quam non nisl cursus, vel aliquet elit dictum.</p>
</section>
<section>
    <iframe width="{{AppCtrl.embedSize.width}}" height="{{AppCtrl.embedSize.height}}"
        c6-embed="AppCtrl.experience"
        name="experience"
        style="border: none;"
        ng-class="{'c6-view--fullscreen': AppCtrl.fullscreen}"
        scrolling="no"
        class="c6-minireel__iframe">
    </iframe>
</section>
<section>
    <p>Ut convallis eu lacus eu ultrices. Aliquam vel dolor nec nisl faucibus faucibus. Sed vestibulum scelerisque ultrices. Sed tellus leo, tincidunt et justo ut, luctus tempus justo. Suspendisse neque risus, vulputate vitae massa mollis, suscipit semper eros. Nam ut massa at odio venenatis iaculis. Phasellus pellentesque semper nunc, eu congue nisi fringilla et.</p>
</section>
